{% extends 'base.html' %}
{% load static %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'booking/css/booking_checkout.css' %}">

<div class="single_result_page">
    <div class="search_result">
        <div class="result_trip">
            <div class="info">
                <p class="departure">Отправление: {{ object.departure }}</p>
                <p class="arrival">Прибытие {{ object.arrival }}</p>
                <p class="departure_time">Время отправления: {{ object.departure_time|date:"H:i" }}</p>
                <p class="arrival_time">Время прибытия: {{ object.arrival_time|date:"H:i" }}</p>
                <p class="price">Цена: {{ object.price }}₽</p>
            </div>
            <div class="author_info">
                {% if object.author.photo %}
                    <img src="{{ object.author.photo.url }}" class="author_photo" alt="User Photo" />
                {% else %}
                    <img src="{{ default_image }}" class="author_photo" alt="Default Photo" />
                {% endif %}
                <p class="username">Водитель: {{ object.author.username }}</p>
            </div>
        </div>
        <div class="load_area">
            <a href="{% url 'booking:booking' object.slug %}" class="continue_button">Продолжить</a>
        </div>
    </div>
</div>
{% endblock %}
