{% extends 'base.html' %}
{% load static %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}

    <link rel="stylesheet" type="text/css" href="{% static 'users/css/login.css' %}">

    <form method="post">
        {% csrf_token %}

        <!-- Общие ошибки формы -->
        {% if form.non_field_errors %}
            <ul class="error_list">
                {% for error in form.non_field_errors %}
                    <li class="error_item">{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        <!-- Поле username -->
        <div>
            <label for="{{ form.username.id_for_label }}">{{ form.username.label }}:</label>
            {{ form.username }}
        </div>

        <!-- Поле password -->
        <div>
            <label for="{{ form.password.id_for_label }}">{{ form.password.label }}:</label>
            {{ form.password }}
        </div>

        <!-- Кнопка и ссылка -->
        <p><button type="submit">Войти</button></p>
        <p><a href="{% url 'users:password_reset' %}">Забыли пароль?</a></p>

    </form>
{% endblock content %}