{% extends 'base.html' %}
{% load static %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'users/css/user_trips_current.css' %}">

<div class="trip-container">
    {% if mein_trip %}
        {% for item in mein_trip %}
        <div class="trip-card">
            <h2>{{ item.departure }} - {{ item.arrival }}</h2>
            <p><strong>Дата отправления:</strong> {{ item.departure_time|date:"l, j F Y" }}</p>
            <p><strong>Дата прибытия:</strong> {{ item.arrival_time|date:"l, j F Y" }}</p>
            <p><strong>Время отправления:</strong> {{ item.departure_time|date:"H:i" }}</p>
            <p><strong>Время прибытия:</strong> {{ item.arrival_time|date:"H:i" }}</p>
            <p><strong>Осталось свободных мест:</strong> {{ item.free_seating }}</p>
            <p><strong>Цена:</strong> {{ item.price }} руб.</p>
            <p><a class="btn" href="{% url 'update_user_trip' item.slug %}">Изменить</a></p>
            <ul>
            {% for booking in item.bookings.all %}
                {% if booking.name_companion.photo %}
                    <img src="{{ booking.name_companion.photo.url }}" alt="{{ booking.name_companion.username }}">
                {% else %}
                    <img src="{% static 'images/logodef.jpg' %}" alt="Default User Photo">
                {% endif %}
            {% endfor %}
            </ul>
        </div>
        {% endfor %}
    {% else %}
        <h1>Здесь появятся ваши будущие поездки.</h1>
    {% endif %}
</div>
{% endblock %}