{% extends 'base.html' %}
{% load static %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'bestcar/css/about.css' %}">

<div class="content-container">
    <div class="frame">
        <h1>О сайте</h1>
        <p>Данный сайт является учебным проектом.</p>
        <p>Этот сайт создан с целью обучения навыкам в области веб-разработки.</p>
    </div>

    <div class="frame">
        <h2>Авторские права</h2>
        <p>Все материалы на этом сайте размещены без ограничений авторских прав.</p>
    </div>

    <footer>
        Если у вас есть вопросы или предложения, пожалуйста, свяжитесь с нами. Мы будем рады вашим отзывам и конструктивной критике!
    </footer>
</div>
{% endblock %}