{% extends 'base.html' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}

<form method="get" action="{% url 'search' %}" style="max-width: 100%; margin: 0 auto;">
  {% csrf_token %}

  <!-- Контейнер формы -->
  <div style="text-align: left;">

    <!-- Откуда... -->
    <div style="display: inline-block; margin-right: 5px;">
      {{ form.departure }}
    </div>

    <!-- Куда... -->
    <div style="display: inline-block; margin-right: 5px;">
      {{ form.arrival }}
    </div>

    <!-- Количество мест... -->
    <div style="display: inline-block; margin-right: 5px;">
      {{ form.seating }}
    </div>

    <!-- Дата и время -->
    <div style="display: inline-block; margin-right: 5px;">
      {{ form.datetime }}
    </div>

    <!-- Скрытое поле -->
    <input type="hidden" name="cat" value="#">

    <!-- Кнопка отправки -->
    <button type="submit" style="padding: 8px 16px; background-color: #007bff; color: white; border: none; border-radius: 5px;">Отправить</button>
  </div>
</form>

{% endblock %}