{% extends 'base.html' %}
{% load static %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'bestcar/css/update.css' %}">
    <form action="{% url 'update_user_trip' object.slug %}" method="post">
        {% csrf_token %}
        <div>
            {{ form.departure.label }} <!-- Используется метка из формы -->
            {{ form.departure }}
            {% if form.departure.errors %}
                <ul class="errorlist">
                    {% for error in form.departure.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        <div>
            {{ form.arrival.label }} <!-- Используется метка из формы -->
            {{ form.arrival }}
            {% if form.arrival.errors %}
                <ul class="errorlist">
                    {% for error in form.arrival.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        <div>
            {{ form.departure_time.label }} <!-- Используется метка из формы -->
            {{ form.departure_time }}
            {% if form.departure_time.errors %}
                <ul class="errorlist">
                    {% for error in form.departure_time.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        <div>
            {{ form.arrival_time.label }} <!-- Используется метка из формы -->
            {{ form.arrival_time }}
            {% if form.arrival_time.errors %}
                <ul class="errorlist">
                    {% for error in form.arrival_time.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        <p><button type="submit">Отправить</button></p>
    </form>
{% endblock %}