body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

form {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

div {
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
}

input, select, textarea {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

.errorlist {
    list-style: none;
    margin: 5px 0 0;
    padding: 10px;
    background-color: #ffe6e6;
    font-size: 14px;
    border: 1px solid #ff4d4f;
    border-radius: 4px;
    color: #ff4d4f;
}

p img {
    display: block;
    margin: 0 auto 15px;
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

p img:hover {
    border-color: #007BFF;
    box-shadow: 0 4px 8px rgba(0, 123, 255, 0.3);
}

.buttons-container {
    display: flex;
    flex-direction: column;
    gap: 15px; /* Расстояние между кнопками */
    max-width: 600px;
    margin: 20px auto;
}

button, .btn {
    display: block;
    width: 100%;
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

button:hover, .btn:hover {
    background-color: #0056b3;
}

a.btn {
    text-decoration: none;
    display: block;
    text-align: center;
    line-height: 1.5;
}